<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}">
    </head>
    <body>
        <div><h1>lista</h1></div>
        <ul>
            <li><a th:href="@{/variables/string/}+'jonathan'">   envio de solo texto </a></li>
                        <li><a th:href="@{/variables/string/}+'jonathan'+'/23'">   envio de  texto y numero </a></li>

            
        </ul>
        
        
    </body>
</html>
